<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playground — Complete Intro to Vue 3</title>
  </head>
  <body>
    <h1>Hello Frontend Masters!</h1> 
    <div id="app">
        <h1>{{counterTitle}}</h1>
        <p>{{count}}</p>
        <button @click="incrementCount(10, $event)">Increment count</button>
        <h2>{{incrementAmount}}</h2>
        <div>
            <label for="incrementAmount">Increment by: </label>
            <input 
            type="number" 
            v-model="incrementAmount"
            />
        </div>
        <hr />
        <p v-if="message.length % 2 === 0">Even: {{message.toUpperCase()}}</p>
        <p v-else>Odd: {{message}}</p>
        <ul>
            <li v-for="number in listOfNumbers">{{number * Math.random()}}</li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const {createApp} = Vue 

        const app = createApp({
            data() {
                return {
                    count: 10,
                    counterTitle: 'Counter Standard',
                    incrementAmount: 1,
                    message: 'Hello it works',
                    listOfNumbers: [1,2,3,4,5]
                }
            },
            methods: {
                incrementCount(newAmount, event) {
                    console.log(newAmount)
                    console.log(event)
                    this.count += this.incrementAmount;
                }
            },
            watch: {
                count(newValue) {
                    console.log(newValue)
                    if (newValue > 20) {
                        this.counterTitle += ' Very Long'
                    }
                }
            }
        })

        app.mount('#app')
    </script>
  </body>
</html>